<h1>Arbeidskø videoconverter</h1>
<p class="lead">Lister ut alle konverteringsjobber som ikke er fullført eller merket med "does_not_exist", som betyr at vi har gitt opp jobben</p>

<style>
.well.ukmwell {
    background: white;
    padding: 10px 15px;
    box-shadow: 1px 1px rgb(220, 220, 220);
}

.ukmwell h1, 
.ukmwell h2, 
.ukmwell h3, 
.ukmwell p,
.ukmwell ol {
	margin: 0px;
}
</style>

<script language="javascript">
jQuery(document).on('click', '.ConvertQueAction', function(e){
  e.preventDefault();
  var job = jQuery(this).parents('div.ConvertQueJob');
  var url = jQuery(this).attr('href');
  
  job.find('.ajaxdata').html('Laster inn..' + url );
  
  jQuery.get( url, {}, function( data ) {
	if( true !== data.success ) {
		job.find('.ajaxdata').html('Handling feilet med følgende melding: '+ data );
		return false;
	}
	
	if( data.action == 'delete' ) {
		job.slideUp(function() { 
		    var group = job.parents('.ConvertGroup');
			job.remove() 
		    var remaining = group.find('.ConvertQueJob').length;
		    group.find('.ConvertQueCount').html( remaining );
		} );
	}
  } );
});
</script>

<div class="col-xs-12">
{% for groupname, group in list %}
	<div class="ConvertGroup">
		<h1>{{ groupname }} <small class="ConvertQueCount">{{ group|length }}</small></h1>
		{% for job in group %}
			<div class="{{ job.admin_notice == 'true' ? 'alert alert-danger' : 'well' }} ukmwell ConvertQueJob" id="cron{{ job.id }}">
				<ol class="list-inline">
					<li>
						<h2>{{ job.id }}</h2>
					</li>
					<li>
						{{ job.touch|date('d. M y H:i') }}
					</li>
					<li>
						<a class="btn btn-sm btn-primary ConvertQueAction" href="{{ job.link.store }}" target="_blank">Lagre på nytt</a>
						<a class="btn btn-sm btn-primary ConvertQueAction" href="{{ job.link.converting }}" target="_blank">Konvertér på nytt</a> 
						<a class="btn btn-sm btn-info ConvertQueAction" href="{{ job.link.registered }}" target="_blank">Konvertér fra starten</a>
						<a class="btn btn-sm btn-danger ConvertQueAction" href="{{ job.link.delete }}" target="_blank">Slett</a>
					</li>
				</ol>
				<div class="clearfix"></div>
				<div style="cursor:help;">
					<small>
						  <span title="Status progress">{{ job.status_progress is empty ? 'null' : job.status_progress }}</span> 
						| <span title="Status first convert">{{ job.status_first_convert is empty ? 'null' : job.status_first_convert }}</span> 
						| <span title="Status final convert">{{ job.status_final_convert is empty ? 'null' : job.status_final_convert }}</span> 
						| <span title="Status archive convert">{{ job.status_archive is empty ? 'null' : job.status_archive }}</span> 
					</small>
				</div>
				<div class="ajaxdata"></div>
				<div class="clearfix"></div>
			</div>
		{% endfor %}
	</div>
{% endfor %}
</div>